<footer class="footer1">
    <div class="footer-box">
        <div><img src="~/Images/logo/iranallah.jpg" style="width:100px;height:70px"/></div>
        <div><a href="/Contact/Index/">ارتباط باما</a></div>
        <div><a href="/About/Index"> درباره ی ما</a></div>
        <div><a href="/Newses/LastNews"> لیست آخرین اخبار</a></div>
        <div><a href="/Newses/Bestnews"> پربازدید ترین ها</a></div>
    </div>
    <div class="footer-box">
        <div><a href="/Newses/ShowNews/5">سیاسی</a></div>
        <div><a href="/Newses/ShowNews/26">اقتصادی</a></div>
        <div><a href="/Newses/ShowNews/23">ورزشی</a></div>
        <div><a href="/Newses/ShowNews/22"> فرهنگی هنری</a></div>
    </div>
    <div class="footer-box">
        <img src="~/Images/logo/logonews.jpg" alt="" style="width: 80%; height: 55%;">
    </div>
</footer>
