@if (ViewBag.LoginState == true)
{
    <li class="nav-item">
        <a class="nav-link" href="/Account/Logout">خروج</a>
    <li class="nav-item">
        <a class="nav-link" href="/Admin">پنل مدیریت</a>
    </li>

    </li>

}
else
{
    <li class="nav-item">
        <a class="nav-link" href="/Account/Login">ورود</a>
    </li>

}



