<div class="jumbotron">

</div>

<span class="btn btn-outline-info font-weight-normal">
    نحوه ارتباط با خبرگزاری الان نیوز
</span>
<table class="table table-info">
    <tr>
        <th>تلفن</th>
        <th>ایمیل</th>
        <th>   تبلیغات</th>

    </tr>
    <tr>
        <td>42139000</td>

        <td>alanews@gmail.com	</td>

        <td>جهت تبلیغات به ایدی زیر در تلگرام پیام دهید</td>

    </tr>
    <tr>
        <td>42139000</td>


        <td>alanews2@gmail.com	</td>

        <td>alanNews</td>

    </tr>
</table>
<div class="jumbotron">
    <p class ="btn btn-link"style="margin-right:20px;">نشانی:ملایر-خیابان قائم مقام-کوچه امین-پلاک21-واحد3</p>
</div>



