<h1>خبرگذاری الان نیوز;روشنی آینده ای بهتر</h1>
<h1>درباره ما</h1>
<img src="~/Images/about/6266f0f7127b0ea5d6c9029e.png" style="height:400px;width:auto;"/>
<div class="jumbotron"></div>
<div>
    <p>خبرگزاری الان نیوز با در نظر گرفتن دو حوزه‌ی وسیع کاری در داخل و خارج کشور تلاش دارد اهداف خود را در جهت آگاهی بخشی و بصیرت افزایی محقق سازد.</p>
</div>
<div>
    <p>رسانه ها نقش بی بدیلی در شکلگیری، جهت‌دهی و مهندسی افکار عمومی دارند. این نقش در عرصه جنگ نرم اهمیت و برجستگی بیشتری دارد، لذا میتوان از جبهه رسانه‌های استکبار جهانی به عنوان زرادخانه غرب در جنگ نرم یادکرد. خبرگزاری تسنیم با در نظر گرفتن دو حوزه ی وسیع کاری در داخل و خارج کشور تلاش دارد اهداف خود را در جهت آگاهی بخشی و بصیرت افزایی محقق سازد.</p>
</div>
<div>
    <h4>*عرصه خارج از کشور</h4>
    <p>
        رویارویی انقلاب اسلامی با نظام سلطه از بدو پدیداری تا کنون بیش از آن که در عرصه سخت بروز و ظهور یافته باشد در عرصه جنگ نرم اتفاق افتاده است چرا که ماهیت این انقلاب و پیامهای روشنی که برای ملتها دارد، آن را در مرزهای جغرافیایی محصور نمیکند و این همان حقیقتی است که حضرت امام خمینی(ره) از آن به صدور انقلاب و مقام معظم رهبری حضرت امام خامنه‌ای از آن به عنوان خاصیت پیشروندگی انقلاب یاد کرده اند.

        واقعیتهای امروز دنیا نشان از آن دارد علی رغم تلاشهای نظام سلطه برای مهار انقلاب اسلامی و جلوگیری از بسط نفوذ معنوی آن، انقلاب اسلامی الهام بخش انقلابیون در نهضت بیداری اسلامی شده است که یکی ار نتایج آن سقوط دیکتاتورهای دست نشانده غرب بوده است و این تنها از نتایج سحر است و دیری نخواهد گذشت که با طلوع خورشید بیداری و مقاومت اسلامی شاهد دستاوردهای شگفت انگیزتری از آن خواهیم بود.
    </p>
</div>
<div>
    <h4>*عرصه داخل کشور</h4>
    <p>
        یکی از ضروری ترین اقدامات در عرصه وسیع فرهنگی کشور، حضور موثر رسانه‌های انقلابی و همسو با اهداف نظام مقدس جمهوری اسلامی است.

        هجمه وسیع امپریالیسم رسانه ای غرب علیه افکار عمومی کشور و تلاش برای مهندسی و جابجایی حقایق در اذهان ملت مسلمان ایران، اقتضاء می کند تا رسانه هایی به عنوان سنگرهای دفاعی و سپر مقاومت در برابر آنها ایجاد شود تا بتوانند از کیان مقدس نظام اسلامی دفاع کنند و با اطلاع رسانی و آگاهی بخشی به هنگام و موثر، بصیرت افزایی را در جهت مصون سازی و عمق بخشی معنوی و ارتقاء سطح فرهنگ عمومی، سرلوحه کار و تلاش خود قرار دهند.

        خبرگزاری تسنیم در حوزه‌های بین الملل، سیاسی، فرهنگی، اقتصادی، اجتماعی و ورزشی قصد دارد رسالت خود را دنبال نماید. تسنیم ازفناوری های روز اطلاع رسانی در دنیا و نیز مدیاهای مختلف خصوصاً صوت و تصویر کمال بهره گیری را در راستای تحقق رسالت و اهدافش خواهد داشت.
    </p>
</div>
